body {
    background-color: rgb(255, 253, 240);
}

section#reservation {
    font-family: 'Poppins', sans-serif;
    margin-top: 5.5rem;
}

.reservation-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reservation-form-container p {
    font-family: 'Lato';
    font-size: 18px;
    margin: 8px 0;
}

input {
    margin: 10px 0;
}

input#reservation-name,
input#reservation-phone-number {
    min-height: 45px;
    width: 30%;
    padding: 1px 1rem 1px 15px;
    position: relative;
    background-color: rgb(243, 243, 243);
    font-size: 18px;

    border: 1px solid black;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

input#reservation-phone-number {
    margin-bottom: 10px;
}

input#reservation-name:focus, 
input#reservation-phone-number:focus {
    background-color: rgb(255, 255, 255);
    outline: none;
}

.service-dropdown, .booking-time-dropdown, .booking-date {
    font-size: 15px;
    padding: 10px;
}

.service-dropdown {
    width: 30%;
}
.booking-time-dropdown, .booking-date {
    width: 15%;
}


.service-dropdown:focus {
    outline: none;
}

.reservation-book-now-btn {
    width: 30.5%;
    margin: 10px 0;
    padding: 9px 25px;
    background-color: #171717;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 2px;
    transition: all 0.01s ease;
}

.reservation-book-now-btn:hover {
    color: rgb(255, 246, 161)
}

.reservation-book-now-btn:active {
    color: rgb(206, 200, 136)
}
