body {
    background: url(../../images/wash.jpg);
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center;
}

section#customer-review {
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.review-container {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    padding: 50px 50px 200px 50px;
    backdrop-filter: blur(25px);
    background: rgba(0, 0, 0, 0.4);
    max-width: 100%;
    min-height: 80vh;
    border: 1px solid rgba(255, 255, 255, 0.2);
    gap: 1rem;
    border-radius: 1rem;
    box-shadow: 10px 10px 50px 5px rgb(0, 0, 0);
}

.header-row h1 {
    letter-spacing: 2px;
    font-size: 2rem;
    color: rgb(255, 246, 161);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

h2 {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 60px;
    flex-wrap: wrap;
    font-family: 'Poppins', sans-serif;
}

.reviewer-name, .review-rating {
    min-height: 35px;
    width: 30%;
    padding: 1px 1rem 1px 10px;
    position: relative;
    background-color: rgb(243, 243, 243);
    font-size: 15px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

.reviewer-name:focus,
.review-rating:focus {
    outline: none;
    background-color: rgb(255, 255, 255);
}

.form label {
    font-size: 18px;
    cursor: auto;
}

.review-input {
    min-height: 45px;
    margin-top: 6px;
    margin-right: 4px;
    width: 100%;
    padding: 1px 1rem 1px 15px;
    position: relative;
    background-color: rgb(234,235,236);
    font-size: 18px;

    border: none;
    border-radius: 4px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.1s ease-in-out;

    flex: 10;
}

.review-input:hover {
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.6);
    background-color: rgb(255, 255, 255);
}

.review-input:focus {
    outline: none;
}

.write-review-btn {
    height: 36px;
    width: 125px;
    background-color: rgb(36, 36, 36);
    color: rgb(255, 255, 255);
    border: 0.1px solid rgb(255, 255, 255);
    border-radius: 4px;
    font-size: 15px;
    padding: 5px 10px;
    transition: all 0.1s ease;
}

.write-review-btn:hover {
    background-color: rgb(20, 20, 20);
}

.write-review-btn:active {
    background-color: rgb(0, 0, 0);
}


.review-content-container {
    background-color: rgb(245, 245, 245);
    color: black;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 15px;
    font-family: 'Roboto', Arial, sans-serif;
    overflow-wrap: break-word;
    font-size: 16px;
}

.first-row {
    display: flex;
    align-items: center;

}

.currDate {
    margin-left: 10px;
    font-size: 14px;
    color: grey;
}

@media (max-width: 768px) {
    .review-container {
        margin: 40px;
    }

    .reviewer-name, .review-rating, .review-input, .write-review-btn {
        width: 100%; 
    }

    .header-row h1 {
        font-size: 1.8rem; 
    }

    h2 {
        font-size: 0.8rem; 
    }

    .form label {
        font-size: 0.9rem; 
    }

    .write-review-btn {
        max-width: 100%; 
    }
}

@media (max-width: 576px) {
    .review-container {
        padding: 15px; 
    }

    .header-row h1 {
        font-size: 1.6rem; 
    }

    h2 {
        font-size: 0.7rem; 
    }

    .form label {
        font-size: 0.8rem; 
    }

    .review-content-container {
        padding: 15px;
    }

    .write-review-btn {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .header-row h1 {
        font-size: 1rem; 
    }

    p {
        font-size: 11px;
    }
    
    .reviewer-name, .review-rating {
        min-height: 25px;
        padding: 1px 1rem 1px 10px;
        font-size: 9px;
        margin-bottom: 10px;
    }

    .review-input {
        min-height: 25px;
        font-size: 10px;
    }

    .write-review-btn {
        font-size: 12px;
    }

    h2 {
        font-size: 9px;
    }
}   
    