*, 
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

a, button, li, select, label {
    cursor: pointer;
}

body {
    margin-top: 57px;
}

header {
    background-color: rgb(255, 255, 255);
    padding: 13px 2%;
    overflow: hidden;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    min-width: 94px;
    transition: box-shadow 0.15s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
}   

header.shadow {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    border-bottom: none !important;
    z-index: 101;
}

.logo-container {
    display: flex;
    align-items: center !important;
    justify-content: center;
}

.logo-img {
    max-width: 200px; 
    height: auto;
    left: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 12px;
}

a, li, button {
    font-weight: 300;
    color: #000000;
    text-decoration: none;
    font-family: "Poppins";
}

.nav-menu {
    display: flex;
    list-style: none;
}

.nav-menu li {
    padding: 0 25px;
}

.nav-menu li a {
    position: relative;
    font-size: 15px;
    transition: all 0.3s ease; 
}

.nav-menu li a::after {
    content:"";
    width: 0;
    height: 3px;
    background-color: rgb(248, 235, 90);
    position: absolute; 
    left: 0;
    bottom: -6px;
    transition: 0.4s; /* Underline Transition */
}

.nav-menu li a:hover::after {
    width: 100%;
}

.nav-menu li a:hover {
    opacity: 90%;
    color: rgb(0, 0, 0);
    transition: 0.8s;
}

.nav-menu li a:active {
    opacity: 0.5;
    transition: 0.01s;
}

.logout-btn {
    padding: 9px 26px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    box-shadow: inset 0 0 0 0 #000000;
    border-radius: 2px;
    margin-left: 10px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.logout-btn:hover {
    box-shadow: inset 400px 0 0 0 #000000;
    transition: ease-in 0.3s;
    transform: scale(1.05);
    color: rgb(255, 246, 161);
}

.logout-btn:active {
    transform: scale(0.97);
    transition: 0.001ms;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

section {
    padding: 1rem 10%;
    min-height: 90vh;
}

section#home {
    background: url(../../images/home_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: change 10s infinite ease-in-out;
    position: relative;
    z-index: 3;
    min-height: 95vh;
}

.home-dark-overlay {
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0.5;
    z-index: 4;
    /* background-color: transparent;
    backdrop-filter: blur(100px); */
}

.slogan-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 5;
    min-width: 45vw;
    min-height: 80vh;
}

.slogan-container h1 {
    color: rgb(255, 246, 161);
    font-size: 31px;
    font-family: 'Lexend Exa', serif;
    margin-top: 3rem;
    margin-bottom: 5px;
}

.slogan-container h2 {
    font-size: 44px;
    color: white;
    font-family: 'Libre Caslon Text', serif;
    margin-bottom: 20px;
}

.slogan-container h3 {
    color: rgb(255, 246, 161);
    font-family: 'Lato', serif;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 1rem;
}

.book-now-btn {
    display: inline-block;
    position: relative;
    padding: 9px 25px;
    background-color: #171717;
    color: rgb(255, 255, 255);
    border: 1.5px solid rgb(255, 255, 255);
    border-radius: 2px;
    margin-left: 10px;
    transition: all 0.3s ease;
    font-size: 18px;
}

.book-now-btn:hover {
    transform: scale(1.1);
    background-color: #171717;
    color: #ffffff;
    padding-right: 30px;
    padding-left: 15px;
}

.book-now-btn:active {
    transform: scale(1);
    transition: 0.001ms;
}

.book-now-btn:after {
    content: '»';
    font-size: 30px;
    position: absolute;
    opacity: 0;  
    top: -1px;
    right: -20px;
    transition: all 0.3s ease;
    display: none;
}

.book-now-btn:hover:after {
    opacity: 1;
    right: 10px;
    display: block;
}

section#services {
    display: flex;
    flex-direction: column;
    padding: 6rem 4.5rem 6rem 4.5rem;
    background-color: white;
}

.service-header {
    display: flex;
    align-items: center;
}

.services-list {
    margin-bottom: 0.7rem;
    font-size: 1.6rem;
    font-weight: 500;
    font-family: 'Poppins';
}

.view-all {
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Poppins';
}

.service-image-grid {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.2rem;
}

.service-image {
    height: 29rem;
    width: 100%;
    object-fit: cover;
    box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.3);
}
.service-desc {
    margin-block: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    gap: 1.2rem;
}

.service-desc p { 
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

section#profile {
    padding: 7rem 4.5rem;
    background-color: #130f0a;
}

.profile-header h1 {
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial;
    font-weight: 500;
    color: white;
}

.profile-header h2 {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial;
    font-size: 45px;
    color: rgb(255, 246, 161);
    margin-bottom: 2rem;
}

section#contacts {
    background-image: url(../../images/wash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.book-now-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacts-container{
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    flex-direction: column;

    margin-bottom: 1rem;
    backdrop-filter: blur(15px);
    background: transparent;
    min-width: 60vh;
    min-height: 30vh;
    padding: 30px;

    border: none solid rgb(0, 0, 0);
    border-radius: 6px;
    box-shadow: 10px 10px 50px 5px rgb(0, 0, 0);
}

.contacts-container img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    margin-bottom: 10px;
    transition: all 0.1s ease-in-out;
    cursor:pointer;
}

.contacts-container img:hover {
    transform: scale(1.2);
}

.contacts-container img:active {
    transition: 0.1ms;
    opacity: 0.7;
}


.contact-us-text h4 {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 30px;
    font-weight: 500;
    text-shadow: 0 0 5px rgb(255, 255, 255);
}
.contact-us-text p {
    font-family: 'Poppins', sans-serif;
    color: white;
}


.book-your-visit-btn {
    padding: 20px 50px;
    background-color: #171717;
    color: rgb(255, 255, 255);
    border: 0.1px solid rgb(0, 0, 0);
    border-radius: 2px;
    margin-left: 10px;
    transition: all 0.3s ease;
    font-size: 18px;
}

.book-your-visit-btn:hover {
    box-shadow: inset 400px 0 0 0 #ffffff;
    transition: ease-in 0.3s;
    transform: scale(1.1);
    color: rgb(0, 0, 0);
}

.book-your-visit-btn:active {
    transform: scale(1);
    transition: 0.001ms;
}

footer {
    padding-top: 45px;
    padding-bottom: 50px;
    padding-inline: 5rem;
    height: 200px;
    background-color: #ffffff;
    border-top: 1px solid #ccc; 
    width: 100%;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.footer-right {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}

.footer-left p,  .footer-right p {
    font-family: 'Poppins', 'Helvetica Neue', Serif;
    color: grey;
}

.connect-with-us-text {
    margin-top: 15px;
    margin-bottom: 10px;
}

.connect-with-us {
    display: flex;
    align-items: center;
    justify-content: center;
}

.connect-with-us img {
    display: flex;
    width: 20px;
    height: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.copyright {
    margin-top: 10px;
    font-size: 14px;
    text-align: right;
}

@media (max-width: 1400px) {
    .service-image {
        height: 35rem;
    }
}

@media (max-width: 1200px) { 
    .slogan-container h1 {
        font-size: 30px;
        
    }

    .slogan-container h2 {
        font-size: 39px;
    }
    
    .slogan-container h3 {
        font-size: 18px;
    }

    .logo-img {
        max-width: 175px; 
    }

    .service-image {
        height: 20rem;
    }

    .logout-btn {
        padding: 6px 25px;
        font-size: 15px;
    }
}

@media  (max-width: 1043px) {
    .nav-menu li a {
        font-size: 13px;
    }

    .slogan-container h1 {
        font-size: 28px;
    }

    .slogan-container h2 {
        font-size: 37px;
    }

    .slogan-container h3 {
        font-size: 16px;
    }

    .logo-img {
        max-width: 160px; 
    }

    .logout-btn {
        padding: 6px 20px;
        font-size: 13px;
    }


    .footer-left p {
        font-size: 14px;
    }

    .copyright {
        font-size: 12px;
    }
}

@media (max-width: 992px) {
    .nav-menu li a {
        font-size: 10px;
        display: block;
    }

    .slogan-container h2 {
        font-size: 28px;
    }

    .slogan-container h1 {
        margin-top: 1rem;
    }

    .logo-img {
        max-width: 110px; 
    }

    .footer-left p {
        font-size: 11px;
    }
    .copyright {
        font-size: 9px;
    }

    .connect-with-us-text {
        font-size: 12px;
    }

    .service-desc p {
        font-size: 13px;
    }

    .service-image {
        height: 18rem;
    }

    .profile-header h1 {
        font-size: 18px;
    }

    .profile-header h2 {
        font-size: 35px;
        margin-bottom: 0;
    }

    .contacts-container {
        transform: scale(0.7);
    }

    /* hamburger */
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background-color: black;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -150%;
        top: 57px;
        gap: 0;
        flex-direction: column;
        background-color: #efefef;
        width: 100%;
        text-align: center;
        transition: left 0.3s;
    }

    .nav-menu li a:after {
        display: none;
    }

    .logout-btn {
        position: absolute;
        right: 8%;
    }

    .nav-menu.active, .logout-btn.active {
        left: 0;
    }

    .nav-menu li {
        margin: 16px 0;
    }

    .book-your-visit-btn {
        transform: scale(0.8);
    }

    .book-your-visit-btn:hover {
        transform: scale(0.9);
    }

    .book-your-visit-btn:active {
        transform: scale(0.8);
    }
}

@media (max-width: 768px) {
    .nav-menu li {
        margin: 10px 0; 
    }

    .nav-menu li a {
        font-size: 8px;
    }

    .slogan-container h2 {
        font-size: 22px;
    }

    .slogan-container h1 {
        font-size: 18px;
    }

    .slogan-container h3 {
        margin-bottom: 0.5rem;
        font-size: 9px
    }

    .nav-menu {
        top: 50px; 
    }

    .footer-left p {
        font-size: 8px;
    }

    .copyright {
        font-size: 7px;
    }

    .service-desc p {
        font-size: 9px;
    }

    .service-image {
        height: 14rem;
    }

    .contacts-container {
        transform: scale(0.7);
    }
}

@media (max-width: 576px) {
    section {
        padding: 1rem 5%;
        min-height: 40vh;
    }


    header {
        padding-inline: 15px;
    }

    .nav-menu li {
        margin: 6px 0; 
    }

    .nav-menu li a {
        font-size: 6px;
    }


    .slogan-container h1 {
        font-size: 14px;
        margin-top: -20px;
    }

    .slogan-container h2 {
        font-size: 15px;
    }

    .slogan-container h3 {
        font-size: 6px;
    }

    .service-desc p {
        font-size: 6px;
        font-weight: bold;
    }

    .book-now-btn {
        padding: 6px 18px;
        font-size: 10px;
    }
    
    .book-now-btn:after {
        content: '»';
        font-size: 20px;
        top: -2.5px;
        right: 4px;
    }

    .book-now-btn:hover {
        padding-right: 22px;
        padding-left: 10px;
    }

    .service-image-grid {
        gap: 0.8rem;
    }

    .service-image {
        height: 12rem;
    }
    
    .contacts-container {
        transform: scale(0.6);
    }

    .profile-header h1 {
        font-size: 12px;
    }

    .profile-header h2 {
        font-size: 27px;
    }

    .book-your-visit-btn {
        transform: scale(0.6);
    }

    .book-your-visit-btn:hover {
        transform: scale(0.7);
    }

    .book-your-visit-btn:active {
        transform: scale(0.6);
    }

    footer {
        padding-inline: 2rem;
    }

    .logout-btn {
        position: absolute;
        right: 15%;
    }
}

@media (max-width: 450px) {
    .slogan-container h2 {
        font-size: 13px;
    }
}